@tailwind base;
@tailwind components;
@tailwind utilities;

.imgPortada {
  background: linear-gradient(to right, rgba(14, 13, 13, 0.9), rgba(1, 1, 1, 0)),
    url("../assent/habitacion-moderna-vacia-muebles_23-2149178335.jpg");
  background-size: cover;
}

#sec1,
#sec2,
#sec3 {
  scroll-margin-top: 22rem; /* Ajusta este valor según la altura del NavBar */
}

.containerMain {
  background: linear-gradient(rgba(20, 1, 1, 0.3), rgba(0, 0, 0, 0.3));
}

.ShadowEffect2 {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.58));
}
