@tailwind base;
@tailwind components;
@tailwind utilities;

.imgPortada {
  background: linear-gradient(
      rgba(255, 251, 251, 0.25),
      rgba(255, 251, 251, 0.25)
    ),
    url("https://img.freepik.com/foto-gratis/encimera-madera-vacia-ofrece-escenario-pristino-creacion-culinaria-banada-luz-natural_91128-4365.jpg?t=st=1720730838~exp=1720734438~hmac=9efd9aa7ef9f316cbf6011938f8d178a2528cd95e89bae07a39a3224b9a2c9d8&w=1380");
  background-size: cover;
}

#sec1,
#sec2,
#sec3 {
  scroll-margin-top: 22rem; /* Ajusta este valor según la altura del NavBar */
}
